body{
    background-image: url(table.jpg);
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(30, 92, 30);
    text-align: center;
    color: white;
    font-size: 2em;
    font-weight: bold;

}

h1 {
    color: goldenrod;

}

#croupier-el {
    text-decoration: underline;
    margin-bottom: 50px;
}

#message-el{
    font-style: italic;
    
}

button{
    color: #00632c;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
}

#player-el{
    text-decoration: overline;

}
